body{
    padding: 20px;
    background: rgb(219, 212, 212);
    scroll-behavior: smooth;
}

.header{
    grid-area: hd;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #666666;
    -webkit-text-stroke: 0.5px #8c8c8c;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
}

.content{
    grid-area: main;
    padding: 15px;
    margin-bottom: 20px;
    background-color: royalblue;
}

.post-2{
    grid-area: post; 
    background-color: saddlebrown;
    padding: 15px;
    margin-bottom: 20px;
}

.post-3{
    grid-area: three; 
    background-color: seagreen;
    padding: 15px;
    margin-bottom: 20px;
}

.page{
    grid-area: page;
    align-items: center;
    justify-content: center;
}

.empty{
    grid-area:empty;
}

.chat{
    grid-area: chat;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.footer{
    grid-area: ft;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding:5px;
    padding-left: 15px;
    align-items: center;
    justify-self: center;
} 

.foot{
    grid-area:fo;
    padding:5px;
    align-items: center;
    justify-content: center;
}

.bottom{
    grid-area: bt;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    align-items: center;
    text-align: justify;
    padding: 10px;
}

.end{
    grid-area: end;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    padding: 10px
}

.one{
    grid-area: one;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.two{
    grid-area: two;
}

.container{
    display: grid;
    width: 100%;
    margin: auto;
    margin-top: auto;
    grid-template-columns: 10px 300px;
    grid-template-rows: 100px 25px 25px auto auto auto 100px 40px 50px 70px 40px 10px;
    border: 2px solid rgb(209, 25, 25);
   grid-template-areas: 
   "hd hd hd hd"
   "one one one one"
   "two two two two"
   "main main main main"
   "post post post post"
   "three three three three"
   "page page page page"
   "empty empty chat chat"
   "ft ft fo fo"
   "bt bt bt bt"
   "end end end end"
  }

.box {
    border: 1px solid green;
    display: flex;
}

input.right {
    position: absolute;
    right: 0;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .fa {
    font-size: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
    padding: 4px;
    align-items: center;
  }

  .fa:hover {
    opacity: 0.9;
    color: black;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 5px;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 5px;
  }

  .fa-instagram {
    background: palevioletred;
    color: white;
    margin: 5px;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    margin: 5px;
  }

  .button {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 2px 22px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
  }

  .button:hover {
    opacity: 0.9;
    background-color: black;
  }

  a{
      text-decoration: none;
      color: black;
  }

  .date{
      text-decoration: underline;
  }